<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_IOS_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>DemoIdentityBaseURL</key>
	<string>$(DEMO_IDENTITY_BASE_URL)</string>
	<key>GoogleIOSClientID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
	<key>OwnIDConfigJSON</key>
	<string>$(OWNID_CONFIG_JSON)</string>
</dict>
</plist>
