<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>ru</string>
        <string>en-GB</string>
        <string>ar</string>
        <string>he</string>
        <string>de</string>
        <string>es</string>
        <string>es-MX</string>
        <string>fr</string>
        <string>id</string>
        <string>ja</string>
        <string>ko</string>
        <string>ms</string>
        <string>pt-PT</string>
        <string>pt</string>
        <string>th</string>
        <string>tr</string>
        <string>vi</string>
        <string>zh-Hant-MO</string>
        <string>zh-Hant-TW</string>
        <string>it</string>
        <string>bg</string>
        <string>cs</string>
        <string>el</string>
        <string>et</string>
        <string>fi</string>
        <string>hr</string>
        <string>hu</string>
        <string>lt</string>
        <string>nl</string>
        <string>nb</string>
        <string>pl</string>
        <string>ro</string>
        <string>sk</string>
        <string>sl</string>
        <string>sr</string>
        <string>sv</string>
        <string>da</string>
    </array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.ownid.demo.uikit</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
